---
layout: page
title: News
subtitle: Stay in the loop
share-title: Sniffnet — News
share-description: Follow the latest news about Sniffnet.
share-img: /assets/img/preview.png
---

<div align="center">
  <a target="_blank" href="https://x.com/sniffnet_app"><img class="hoverExpand" alt="Twitter / X" title="Twitter / X" src="{{ 'assets/img/x.svg' | relative_url }}"/></a>
  &nbsp;
  <a target="_blank" href="https://t.me/sniffnet"><img class="hoverExpand" alt="Telegram" title="Telegram" src="{{ 'assets/img/telegram.svg' | relative_url }}"/></a>
  &nbsp;
  <a target="_blank" href="https://www.reddit.com/r/sniffnet"><img class="hoverExpand" alt="Reddit" title="Reddit" src="{{ 'assets/img/reddit.svg' | relative_url }}"/></a>
  &nbsp;
  <a target="_blank" href="https://www.linkedin.com/company/sniffnet"><img class="hoverExpand" alt="LinkedIn" title="LinkedIn" src="{{ 'assets/img/linkedin.svg' | relative_url }}"/></a>
</div>
  
  <br/>

  <div align="center">
    Follow Sniffnet to receive the latest project news and updates.
  </div>
  
  <hr/>

{% assign posts = paginator.posts | default: site.posts %}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <article>

      {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
      {% assign thumbnail=thumbnail | strip %}

      <a style="text-decoration: none;"href="{{ post.url | absolute_url }}">
        <h2 class="post-title">{{ post.title | strip_html }}</h2>
      </a>

      <p class="post-meta">
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        {{ post.date | date: date_format }}
      </p>

      {% if thumbnail != "" %}
      <div class="post-image post-image-small">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}

      {% unless site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <div class="post-image post-image-short">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}

      <div class="post-entry">
        {% assign excerpt_length = site.excerpt_length | default: 50 %}
        {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
          <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
      {% endunless %}

   </article>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
