<div align="center">
    <a target="_blank" href="https://bsky.app/profile/sniffnet.net"><img width="48" height="48" class="hoverExpand" alt="Bluesky" title="Bluesky" src="{{ 'assets/img/bluesky.svg' | relative_url }}"/></a>&nbsp;
    <a target="_blank" href="https://www.linkedin.com/company/sniffnet"><img width="48" height="48" class="hoverExpand" alt="LinkedIn" title="LinkedIn" src="{{ 'assets/img/linkedin.svg' | relative_url }}"/></a>&nbsp;
    <a target="_blank" href="https://mastodon.social/@sniffnet"><img width="48" height="48" class="hoverExpand" alt="Mastodon" title="Mastodon" src="{{ 'assets/img/mastodon.svg' | relative_url }}"/></a>&nbsp;
<!--    <a target="_blank" href="https://www.reddit.com/r/sniffnet"><img width="48" height="48" class="hoverExpand" alt="Reddit" title="Reddit" src="{{ 'assets/img/reddit.svg' | relative_url }}"/></a>&nbsp;-->
    <a target="_blank" href="https://t.me/sniffnet"><img width="48" height="48" class="hoverExpand" alt="Telegram" title="Telegram" src="{{ 'assets/img/telegram.svg' | relative_url }}"/></a>&nbsp;
    <a target="_blank" href="https://x.com/sniffnet"><img width="48" height="48" class="hoverExpand" alt="Twitter / X" title="Twitter / X" src="{{ 'assets/img/x.svg' | relative_url }}"/></a>
</div>