<nav class="navbar navbar-expand-xl navbar-dark fixed-top navbar-custom top-nav-regular">

  {%- if site.title -%}
    <a class="navbar-brand {% if page.title == 'Sniffnet' %}active-now{% endif %}" href="{{ '' | absolute_url }}" translate="no">{{ site.title }}</a>
  {%- endif -%}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {%- for link in site.navbar-links -%}
        <li class="nav-item">
          <a class="nav-link {% if link[0] == page.nav-title %}active-now{% endif %} {% if link[1] == 'sponsor' %}sponsor{% endif %}" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
        </li>
      {%- endfor -%}
      {% if site.post_search %}
        <li class="nav-item">
          <a class="nav-link" id="nav-search-link" href="#" title="Search">
            <span id="nav-search-icon" class="fa fa-search"></span>
            <span id="nav-search-text">Search</span>
          </a>
        </li>
      {%- endif -%}
    </ul>
  </div>

  {% if site.avatar %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '' | absolute_url }}">
          <img alt="" class="avatar-img" src="{{ site.avatar | relative_url }}" />
        </a>
      </div>
    </div>
  {% endif %}

</nav>

{% include search.html %}
