---
common-css:
  - "/assets/external/bootstrap/bootstrap.min.css"
  - "/assets/external/fontawesome/css/all.min.css"
  - "/assets/external/fonts/fonts.css"
  - "/assets/css/sniffnet.css"
common-js:
  - "/assets/js/sniffnet.js"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
{% include head.html %}

<body>

  {% include nav.html %}

  <div style="background-color: #0f1e3c; padding-bottom: 3.125rem;"> {{ content }} </div>

  {% include footer.html %}

  {% include footer-scripts.html %}

</body>
</html>
