---
layout: base
---

<ul class="pagination blog-pager">
  <li class="page-item previous">
    <a class="page-link" href="https://sniffnet.net/news/" data-toggle="tooltip" data-placement="top" title="All news">&#9664; All News</a>
  </li>
</ul>

{% include header.html type="post" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

        <div>
          <a target="_blank" href="https://github.com/GyulyVGC/sniffnet"><img alt="Star the project" title="Star on GitHub" class="shield" height="25px" src="https://img.shields.io/github/stars/GyulyVGC/sniffnet?label=Star%20the%20project"/></a>&nbsp;&nbsp;
          <a target="_blank" href="https://github.com/GyulyVGC"><img alt="Follow @GyulyVGC" title="Follow Giuliano Bellini" class="shield" height="25px" src="https://img.shields.io/github/followers/GyulyVGC?label=Follow%20@GyulyVGC"/></a>
        </div>

      <hr>

      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <i class="fas fa-tag" aria-hidden="true" style="color: #808080;"></i>
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}" style="color: #808080;">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <ul class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title | strip_html | xml_escape}}">&#9664; Previous Post</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title | strip_html | xml_escape}}">Next Post &#9654;</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
