---
layout: base
---

{% include header.html type="post" %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | strip_html | jsonify }},
  {% if page.subtitle %}"description": {{ page.subtitle | strip_html | jsonify }},{% endif %}
  {% capture article_img %}{% if page.thumbnail-img %}{{ page.thumbnail-img }}{% elsif site.avatar %}{{ site.avatar }}{% endif %}{% endcapture %}
  {% assign article_img = article_img | strip %}
  {% if article_img != "" %}"image": {{ article_img | absolute_url | jsonify }},{% endif %}
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": {{ site.author | jsonify }},
    "url": "https://github.com/GyulyVGC"
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.avatar | absolute_url | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ page.url | absolute_url | jsonify }}
  }
}
</script>

<div class="container-md">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">

        <div>
          <a target="_blank" rel="noopener" href="https://github.com/GyulyVGC/sniffnet"><img alt="Star the project" title="Star on GitHub" class="shield" height="25px" src="{{ 'assets/img/badges/stars_social_badge.svg' | relative_url }}"/></a>&nbsp;&nbsp;
          <a target="_blank" rel="noopener" href="https://github.com/GyulyVGC"><img alt="Follow @GyulyVGC" title="Follow Giuliano Bellini" class="shield" height="25px" src="{{ 'assets/img/badges/followers_badge.svg' | relative_url }}"/></a>
        </div>

      <hr>

      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <i class="fas fa-tag" aria-hidden="true" style="color: #808080;"></i>
          {% for tag in page.tags %}
            <a href="{{ '/tags' | relative_url }}#{{- tag -}}" style="color: #808080;">{{- tag -}}</a>
          {% endfor %}
        </div>
      {% endif %}

      <hr style="margin-top: 5px">

      {% if page.github-discussion %}
      <div style="margin-top: 30px">
        <script src="https://giscus.app/client.js"
                data-repo="GyulyVGC/sniffnet"
                data-repo-id="R_kgDOHvz5Qw"
                data-mapping="number"
                data-term="{{ page.github-discussion }}"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="https://sniffnet.app/assets/css/giscus.css"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
      </div>
      {% endif %}

      <ul style="margin-top: 50px" class="pagination blog-pager">
        {% if page.previous.url %}
        <li class="page-item previous">
          <a class="page-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title | strip_html | xml_escape}}">
            <span><i class="fas fa-arrow-left" aria-hidden="true"></i>&nbsp;Previous Post</span>
          </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item next">
          <a class="page-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title | strip_html | xml_escape}}">
            <span>Next Post&nbsp;<i class="fas fa-arrow-right" aria-hidden="true"></i></span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
